---
import Discord from "../icons/Discord.astro";
import Github from "../icons/Github.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const year = new Date().getFullYear();

const discordUrl = import.meta.env.PUBLIC_DISCORD_URL;
const githubRepo = import.meta.env.PUBLIC_GITHUB_REPO;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-[#0e1323]">
    <main class="flex-grow p-4">
      <slot />
    </main>
    <footer class="px-4 py-8 text-center border-t border-[#858b9833]">
      <nav
        class="container mx-auto flex flex-col-reverse sm:flex-row items-center justify-between gap-4"
      >
        <p class="text-base text-white">
          ©<a href="https://gfrancv.com">GFrancV</a> - {year}
        </p>

        <div class="flex items-center gap-4">
          <a href={discordUrl} class="duration-300 hover:-translate-y-1">
            <span class="sr-only">Discord</span>
            <Discord class="w-6 h-6 text-white" />
          </a>
          <a href={githubRepo} class="duration-300 hover:-translate-y-1">
            <span class="sr-only">GitHub</span>
            <Github class="w-6 h-6 text-white" />
          </a>
        </div>
      </nav>
    </footer>
  </body>
</html>
