---
import SEO from "../components/SEO.astro";
import Discord from "../icons/Discord.astro";
import Github from "../icons/Github.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const image = "img/op.png";

const discordUrl = import.meta.env.PUBLIC_DISCORD_URL;
const githubRepo = import.meta.env.PUBLIC_REPO;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={title} description={description} image={image} />
  </head>
  <body
    class="max-w-4xl mx-auto flex flex-col min-h-screen bg-gradient-to-b bg-[#0e1323]"
  >
    <main class="flex-grow pb-12">
      <slot />
    </main>
    <footer>
      <nav
        class="border-t border-white/5 px-4 py-8 flex flex-col-reverse sm:flex-row items-center justify-between gap-4"
      >
        <div>
          <ul class="flex gap-2 mb-2">
            <li>
              <a
                href="/privacy-policy"
                class="transition-all duration-300 inline-block text-zinc-400"
              >
                Privacy Policy
              </a>
            </li>
            <li class="text-zinc-400">•</li>
            <li>
              <a
                href="/terms-of-service"
                class="transition-all duration-300 inline-block text-zinc-400"
              >
                Terms of Service
              </a>
            </li>
          </ul>
          <p class="text-base text-zinc-400">
            Created with ❤️ by <a href="https://gfrancv.com">GFrancV</a>
          </p>
        </div>

        <div class="flex items-center gap-4">
          <a
            href={discordUrl}
            class="transition-all duration-3000inline-block text-zinc-700 hover:text-zinc-500"
          >
            <span class="sr-only">Discord</span>
            <Discord class="w-6 h-6" />
          </a>
          <a
            href={githubRepo}
            class="transition-all duration-300 inline-block text-zinc-700 hover:text-zinc-500"
          >
            <span class="sr-only">GitHub</span>
            <Github class="w-6 h-6" />
          </a>
        </div>
      </nav>
    </footer>
  </body>
</html>

<style>
  a {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(white 20%, white 80%);
    background-size: 0 1px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  @media (prefers-reduced-motion) {
    a {
      transition: none;
    }
  }
  a:hover,
  a.active {
    background-size: 100% 1px;
    background-position: 0 100%;
  }
  @media (prefers-reduced-motion) {
    a {
      background-image: linear-gradient(transparent, transparent),
        linear-gradient(white 20%, white 80%);
      background-size: 0 3px;
      background-position: 100% 100%;
      background-repeat: no-repeat;
      transition: background-size 0s;
    }
    a:hover {
      background-size: 100% 3px;
      background-position: 0 100%;
    }
  }
</style>
